


.sidebar {
  padding: 4rem;
  background-color: $primary-500;

  .mat-nav-list {

    a.mat-list-item {
      color: white;

      .mat-list-item-content {
        padding: 0;

        .mat-icon {
          color: white;
          margin-right: 5rem;
        }
      }
    }

    a.mat-list-item:hover,
    a.mat-list-item:active {
      background: none;
      color: $color-secondary;
      transition: all .2s;

      .mat-icon {
        color: $color-secondary;
        margin-right: 5rem;
      }
    }

  }
}



.footer {
  grid-area: footer;
  background-color: $color-white;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
}










