@import "variables";

.mat-toolbar {
  position: relative;
}

.mat-icon {
  color: $primary-500;
  width: 2.5rem;
  height: 2.5rem;
}

.header {
  border-bottom: solid 0.5px $primary-300;
  background-color: #fff;
  box-shadow: 2px 3px 7px rgba(94, 97, 103, 0.4) !important;
  z-index: 999;
  color: $primary-500;

  &__menu_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: $primary-500;

    .mat-icon {
      color: $primary-500;
    }
  }

  &__logo {
    margin-left: 4rem;
    margin-right: auto;

    &-image {
      height: 4.5rem;
    }
  }

  &__icon_buttons {
    display: flex;
    align-items: center;
  }

  &__icon-button {
    padding: 0 2rem;
    height: 3rem;
    border-right: solid 1px $primary-300;

    display: flex;
    align-items: center;

    .mat-icon {
      display: flex;

      svg {
        align-self: flex-start;
      }
    }

  }

  &__icon_avatar {
    margin: 0 1.5rem;
  }
}
