<div class="kf-container" [class.kf-is-mobile]="!this.isDesktop">


  <mat-toolbar class="kf-toolbar">
    <button mat-icon-button (click)="snav.toggle()" class="kf-toolbar-menu-button">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="kf-toolbar-logo">
      <a href="#">
        <img src="../assets/images/keepfocusLogo.svg" alt="" class="kf-toolbar-logo-image"/>
      </a>
    </div>
    <div class="kf-toolbar-group-right">
      <div class="kf-toolbar-group-right-button">
        <mat-icon svgIcon="dashboard" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
      </div>
      <div class="kf-toolbar-group-right-button">
        <mat-icon svgIcon="alarms" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
      </div>
      <div class="kf-toolbar-group-right-avatar">
        <kf-avatar [name]="'John Doe'" [title]="'Title'" [size]="'small'"></kf-avatar>
      </div>
    </div>
  </mat-toolbar>





  <mat-sidenav-container class="kf-sidenav-container"
                         [style.marginTop.px]="!this.isDesktop ? 56 : 0">

    <mat-sidenav #snav [mode]="!this.isDesktop ? 'over' : 'side'"
                 [fixedInViewport]="!this.isDesktop" fixedTopGap="56" class="kf-sidenav">
      <mat-nav-list class="kf-nav-list">
        <a mat-list-item routerLink="/dashboard" routerLinkActive="active" class="kf-nav-list-link">
          <mat-icon>dashboard</mat-icon>
          <span>Dashboard</span>
        </a>
        <a mat-list-item routerLink="/installations" routerLinkActive="active" class="kf-nav-list-link">
          <mat-icon svgIcon="installations" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
          <span>Installations</span>
        </a>
        <a mat-list-item routerLink="/search" routerLinkActive="active" class="kf-nav-list-link">
          <mat-icon>search</mat-icon>
          <span>Search</span>
        </a>
        <a mat-list-item routerLink="/alarms" routerLinkActive="active" class="kf-nav-list-link">
          <mat-icon svgIcon="alarms" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
          <span>Alarms</span>
        </a>
        <a mat-list-item routerLink="/administration" routerLinkActive="active" class="kf-nav-list-link">
          <mat-icon svgIcon="admin" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
          <span>Administration</span>
        </a>
        <a mat-list-item routerLink="/settings" routerLinkActive="active" class="kf-nav-list-link">
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </a>
        <a mat-list-item routerLink="/documentation" routerLinkActive="active" class="kf-nav-list-link">
          <mat-icon>info</mat-icon>
          <span>Documentation</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="kf-sidenav-content">
      <div class="kf-content">
        <div class="kf-main">
          <router-outlet></router-outlet>

        </div>

        <mat-toolbar class="kf-footer">
          <p class="mat-caption">
            &copy; Copyright 2020 | KeepFocus A/S
          </p>
        </mat-toolbar>

      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>

</div>






