@import "variables";

.mat-icon {
  color: $primary-500;
  width: 2.5rem;
  height: 2.5rem;
}

.sidebar {
  width: 240px;
  background-color: #5E6167;
  padding: 2rem 0;

  &__nav-list {

    &-link {
      padding: 0;
      color: white;

      .mat-icon {
        color: white;
        margin-right: 2.5rem;
      }
    }


    &-link:hover,
    &-link:active {
      background: none;
      color: $color-secondary;
      transition: all .2s;

      .mat-icon {
        color: $color-secondary;
        margin-right: 2.5rem;
      }
    }

  }
}

//.mat-sidenav {
//  width: 240px;
//  background-color: $primary-500;
//}

.kf-container {
  background-color: $primary-200;
  height: 100vh;
}

.kf-sidenav-container {
  background-color: $primary-200;
  height: calc(100vh - 64px);
}

.content-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  .main {
    height: 100%;
    flex: 1 1 auto;
  }

  .footer {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}



