<div class="kf-container">

<kf-header (sidenavOpen)="onToggleSidenav()"></kf-header>

  <!-- mat sidenav container-->
  <mat-sidenav-container class="kf-sidenav-container" [hasBackdrop]="!isDesktop">

    <!-- mat sidenav-->
    <mat-sidenav #sidenav [mode]="isDesktop ? 'push' : 'over'" [(opened)]="opened" class="sidebar">
      <mat-nav-list class="sidebar__nav-list">
        <a mat-list-item routerLink="/dashboard" routerLinkActive="active" class="sidebar__nav-list-link">
          <mat-icon>dashboard</mat-icon> <span>Dashboard</span>
        </a>
        <a mat-list-item routerLink="/installations" routerLinkActive="active" class="sidebar__nav-list-link">
          <mat-icon svgIcon="installations" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon> <span>Installations</span>
        </a>
        <a mat-list-item routerLink="/search" routerLinkActive="active" class="sidebar__nav-list-link">
          <mat-icon>search</mat-icon> <span>Search</span>
        </a>
        <a mat-list-item routerLink="/alarms" routerLinkActive="active" class="sidebar__nav-list-link">
          <mat-icon svgIcon="alarms" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon> <span>Alarms</span>
        </a>
        <a mat-list-item routerLink="/administration" routerLinkActive="active" class="sidebar__nav-list-link">
          <mat-icon svgIcon="admin" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon> <span>Administration</span>
        </a>
        <a mat-list-item routerLink="/settings" routerLinkActive="active" class="sidebar__nav-list-link">
          <mat-icon>settings</mat-icon> <span>Settings</span>
        </a>
        <a mat-list-item routerLink="/documentation" routerLinkActive="active" class="sidebar__nav-list-link">
          <mat-icon>info</mat-icon> <span>Documentation</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <!-- mat sidenav-->


    <!-- mat sidenav content-->
    <mat-sidenav-content>
      <div class="content-container">
        <div class="main">
          <router-outlet></router-outlet>
        </div>

        <mat-toolbar class="footer">
          <span class="mat-caption">
            &copy; Copyright 2020 | KeepFocus A/S
          </span>
        </mat-toolbar>
      </div>


    </mat-sidenav-content>
    <!-- mat sidenav content-->




  </mat-sidenav-container>
  <!-- mat sidenav container-->



</div>




