@import "variables";

.group-nav {
  flex: 1;
  display: flex;

  &-item {
    flex: 1;
    padding: 1rem 3rem;
    //border-bottom: 2px solid $primary-500;
    color: $primary-500;
    text-decoration: none;
    display: flex;
    flex-direction: column;

    &-icon {
      flex: 1;

      display: flex;
      align-items: center;

      .TwentyPixelIcon {
        flex: 1;
        margin: 0;
        align-self: center;
      }
    }

    &-name {
      flex: 1;
      display: flex;
      align-items: center;
      span {
        font-size: 14px;
        align-self: center;
        letter-spacing: 1px;
      }
    }
  }
}
