<div class="group" *ngIf="focusGroup$ | async; let focusGroup" [ngClass]="{'group-breadcrumb-space' : focusGroup.type !== 'Company'}">

  <div class="group-header">

    <div class="group-header-left">
      <mat-icon class="ThirtyPixelIcon" [svgIcon]="iconSearch(focusGroup)" aria-hidden="false"
                aria-label="Example thumbs up SVG icon"></mat-icon>
      <h2 class="mat-headline">
        {{focusGroup.type}} | {{focusGroup.name}}
      </h2>
    </div>

    <div class="group-header-right">

      <app-tabs></app-tabs>


    </div>
  </div>

  <div class="group-content">

    <div class="group-content-header">
      <mat-icon class="TwentyPixelIcon" svgIcon="listing" aria-hidden="false"
                aria-label="Example thumbs up SVG icon"></mat-icon>
      <h3 class="mat-title">Listing | {{focusGroup.children[0].type}}s</h3>
    </div>

    <div class="group-content-info">

      <router-outlet></router-outlet>

    </div>


  </div>

</div>
