<div class="installations-container">
  <div class="group-container">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet asperiores at cumque delectus distinctio
      doloremque eaque eligendi harum id libero magnam nam neque nihil non officia quaerat quis, repudiandae?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet asperiores at cumque delectus distinctio
      doloremque eaque eligendi harum id libero magnam nam neque nihil non officia quaerat quis, repudiandae?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet asperiores at cumque delectus distinctio
      doloremque eaque eligendi harum id libero magnam nam neque nihil non officia quaerat quis, repudiandae?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet asperiores at cumque delectus distinctio
      doloremque eaque eligendi harum id libero magnam nam neque nihil non officia quaerat quis, repudiandae?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet asperiores at cumque delectus distinctio
      doloremque eaque eligendi harum id libero magnam nam neque nihil non officia quaerat quis, repudiandae?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet asperiores at cumque delectus distinctio
      doloremque eaque eligendi harum id libero magnam nam neque nihil non officia quaerat quis, repudiandae?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet asperiores at cumque delectus distinctio
      doloremque eaque eligendi harum id libero magnam nam neque nihil non officia quaerat quis, repudiandae?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet asperiores at cumque delectus distinctio
      doloremque eaque eligendi harum id libero magnam nam neque nihil non officia quaerat quis, repudiandae?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet asperiores at cumque delectus distinctio
      doloremque eaque eligendi harum id libero magnam nam neque nihil non officia quaerat quis, repudiandae?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet asperiores at cumque delectus distinctio
      doloremque eaque eligendi harum id libero magnam nam neque nihil non officia quaerat quis, repudiandae?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet asperiores at cumque delectus distinctio
      doloremque eaque eligendi harum id libero magnam nam neque nihil non officia quaerat quis, repudiandae?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet asperiores at cumque delectus distinctio
      doloremque eaque eligendi harum id libero magnam nam neque nihil non officia quaerat quis, repudiandae?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet asperiores at cumque delectus distinctio
      doloremque eaque eligendi harum id libero magnam nam neque nihil non officia quaerat quis, repudiandae?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet asperiores at cumque delectus distinctio
      doloremque eaque eligendi harum id libero magnam nam neque nihil non officia quaerat quis, repudiandae?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet asperiores at cumque delectus distinctio
      doloremque eaque eligendi harum id libero magnam nam neque nihil non officia quaerat quis, repudiandae?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet asperiores at cumque delectus distinctio
      doloremque eaque eligendi harum id libero magnam nam neque nihil non officia quaerat quis, repudiandae?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet asperiores at cumque delectus distinctio
      doloremque eaque eligendi harum id libero magnam nam neque nihil non officia quaerat quis, repudiandae?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet asperiores at cumque delectus distinctio
      doloremque eaque eligendi harum id libero magnam nam neque nihil non officia quaerat quis, repudiandae?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet asperiores at cumque delectus distinctio
      doloremque eaque eligendi harum id libero magnam nam neque nihil non officia quaerat quis, repudiandae?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet asperiores at cumque delectus distinctio
      doloremque eaque eligendi harum id libero magnam nam neque nihil non officia quaerat quis, repudiandae?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet asperiores at cumque delectus distinctio
      doloremque eaque eligendi harum id libero magnam nam neque nihil non officia quaerat quis, repudiandae?</p>
  </div>
</div>
