<mat-drawer-container class="example-container" hasBackdrop="true">
  <mat-drawer #drawer mode="over" style="width: 400px">
    <app-tree-navigation></app-tree-navigation>
  </mat-drawer>


  <mat-drawer-content class="installations-container">

    <div class="installations-tree" (click)="drawer.toggle()"></div>

      <div class="group">

        <div class="group-header">

          <div class="group-header-left">
            <mat-icon class="ThirtyPixelIcon" svgIcon="company-28px" aria-hidden="false"
                      aria-label="Example thumbs up SVG icon"></mat-icon>
            <h2 class="mat-headline">
              Company | Aarhus Omegns Boligforening
            </h2>
          </div>

          <div class="group-header-right">

            <div class="group-nav">

              <!-- item-->
              <a class="group-nav-item" [routerLink]="link.itemUrl" routerLinkActive="active" *ngFor="let link of links">
            <span class="group-nav-item-icon">
               <mat-icon class="TwentyPixelIcon" [svgIcon]="link.iconName" aria-hidden="false"
                         aria-label="Example thumbs up SVG icon"></mat-icon>
            </span>
                <span class="group-nav-item-name">
                <span>{{link.itemName}}</span>
            </span>
              </a>

            </div>

          </div>
        </div>

        <div class="group-content">

          <div class="group-content-header">
            <mat-icon class="TwentyPixelIcon" svgIcon="listing" aria-hidden="false"
                      aria-label="Example thumbs up SVG icon"></mat-icon>
            <h3 class="mat-title">Listing | Housing Departments</h3>
          </div>

          <div class="group-content-info">

            <router-outlet></router-outlet>

          </div>


        </div>

      </div>

  </mat-drawer-content>
</mat-drawer-container>








