<mat-drawer-container class="example-container" hasBackdrop="true">

  <mat-drawer #drawer mode="over" style="width: 400px">

    <app-tree-navigation [focusGroups]="focusGroups"></app-tree-navigation>

  </mat-drawer>


  <mat-drawer-content class="installations-container">

    <div class="installations-tree-button" (click)="drawer.toggle()">X</div>

    <!--    focus group-->
    <div class="installations-content">
      <app-focus-group></app-focus-group>
    </div>
    <!--    focus group-->

  </mat-drawer-content>
</mat-drawer-container>








