@import "variables";

.ThirtyPixelIcon {
  color: $primary-500;
  height: 28px;
  width: 28px;
  margin-right: 3rem;
}

.TwentyPixelIcon {
  color: $primary-500;
  height: 20px;
  width: 20px;
  margin-right: 2rem;
}

.installations-container {
  flex: 1;
  min-height: calc(100vh - 128px);
  background-color: $primary-200;


  display: flex;

  .installations-tree-button {
    flex: 0 0 24px;
    background-color: white;
    display: block;
  }

  .group {
    flex: 1;
    height: 1fr;

    border-radius: 4px;
    background-color: white;
    margin: 3rem;

    display: flex;
    flex-direction: column;

    &-header {
      flex: 0 0 72px;
      padding: 0 2rem;
      border-bottom: solid 1px $primary-300;

      display: flex;
      align-items: center;

      &-left {
        flex: 0 0 40%;
        display: flex;
        align-items: center;

        margin-right: auto;
        h2 {
          display: inline-block;
          margin: 0;
        }
      }

      &-right {
        flex: 0 0 60%;

        display: flex;
        justify-content: flex-end;

        //tabs *****

      }

    }

    &-content {
      flex: 1;
      height: 100%;
      padding: 0 3rem;
      background-color: $primary-100;

      display: flex;
      flex-direction: column;

      &-header {
        flex: 0 0 64px;
        border-bottom: solid 1px $primary-300;

        display: flex;
        align-items: center;

        h3 {
          display: inline-block;
          margin: 0;
        }
      }

      &-info {
        flex: 1;
        height: 100%;

        padding: 3rem 0;
      }
    }
  }
}

//.installations-container {
//  flex: 1;
//  min-height: calc(100vh - 120px);
//
//  background-color: white;
//}

.example-tab-icon {
  margin-right: 8px;
  height: 72px;
}



