@import "variables";

.ThirtyPixelIcon {
  color: $primary-500;
  height: 28px;
  width: 28px;
  margin-right: 3rem;
}

.TwentyPixelIcon {
  color: $primary-500;
  height: 20px;
  width: 20px;
  margin-right: 2rem;
}

.installations-container {
  flex: 1;
  min-height: calc(100vh - 128px);
  background-color: $primary-200;

  display: flex;

  .installations-tree-button {
    flex: 0 0 24px;
    background-color: white;
    display: block;
  }

  .installations-content {
    flex: 1;

    // group *****
  }

}

//.installations-container {
//  flex: 1;
//  min-height: calc(100vh - 120px);
//
//  background-color: white;
//}

.example-tab-icon {
  margin-right: 8px;
  height: 72px;
}



